body {
    margin: 15px;
    background-color: #f0f0ee;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1024px;
    margin: 0 auto;
    color: #484a4b;
}

h1,
h2,
h3,
.profile-subtitle {
    font-family: 'Oswald', Tahoma, sans-serif;
}

.profile,
.box {
    flex-basis: 338px;
    box-sizing: border-box;
    margin: 1px;
}

.profile {
    text-transform: uppercase;
    order: -1;
    padding-top: 50px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    height: 200px;
    width: 200px;
    /*background: url(./assets/img/ProfileFoto.jpg) 50% 50%;*/
    /*вставить фото*/
    border-radius: 100%;
    border: 3px solid #fff;
    margin: 0;
}

.profile-name {
    font-size: 2.5em;
    color: #1a9cb0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e4e5;
    margin-bottom: 0;
}

.profile-subtitle {
    margin-top: 5px;
    color: #a1a5a6;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 5px;
}

.box {
    border: 1px solid #e3e4e5;
    border-radius: 5px;
    padding: 0 15px;
    background-color: #fff;
    margin-bottom: 6px;
    box-shadow: 2px 2px 2px rgba(218, 218, 218, 0.7);
    overflow: hidden;
}

.box-title {
    border-bottom: 1px solid #1a9cb0;
}

h2 {
    margin: 9px;
    text-transform: uppercase;
}

h3 {
    font-size: 1em;
}

.contacts .box-content {
    padding-left: 20px;
}

.box-content p i {
    font-size: 1.5em;
    margin-right: 20px;
}

.social {
    display: flex;
    justify-content: center;
}

.box-content a {
    text-decoration: none;
    color: #1a9cb0;
}

.box-content a:hover,
.social a:hover {
    color: #09c7e5;
}

.last {
    flex-grow: 1;
}

.ul-skils {
    list-style: none;
}

.ul-skils li {
    display: inline-block;
    background-color: #f0f0ee;
    margin-bottom: 2px;
    padding: 5px;
    color: #000;
}

.ul-skils li:hover {
    background-color: #1a9cb0;
    color: #fff;
}

.educ-work-place p {
    padding: 0;
    margin-bottom: 2px;
}

.educ-work-place__place-name {
    font-weight: 900;
}

.educ-work-place__year,
.educ-work-place__department {
    font-style: italic;
    margin-top: 0;
}

.educ-work-place__profecion {
    margin-top: 0;
    border-bottom: 1px solid #e3e4e5;
}

.summary,
.language {
    line-height: 25px;
}

.code-exampel {
    /*order: 1;*/

}
